.top-section {
  display: flex;
  padding: 3rem 0;
  gap: 2rem;
  border-bottom: 1px solid #6F6F6F;
  margin: 0 2rem;
}

.card {
  background-color: #2a2a2a;
  color: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  width: inherit;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.card:nth-child(1) .card-icon {
  background-color: #1E90FF;
}

.card:nth-child(2) .card-icon {
  background-color: #4E9634;
}

.card-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-subtitle {
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
}

.projects-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 3rem 2rem;
}

.project-card {
  width: 100%;
}

.project-card > .card {
  width: inherit;
}

.context-menu {
  width: 200px;
  position: absolute;
  border: 1px solid #333333;
  background: var(--bg-secondary);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.context-menu ul:not(:first-child) {
  padding-top: 5px;
}

.context-menu ul:not(:last-child) {
  border-bottom: 1px solid #333333;
  padding-bottom: 5px;
}

.context-menu button {
  width: 100%;
  padding: 2px 20px;
  text-align: left;
}

.context-menu button:hover {
  background: #1E90FF;
}