.notification {
    position: fixed;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #020202;
    color: #ffffff;
    padding: 6px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 9999;
}