.navigation {
  width: 64px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #1C1C1C;
  border-right: 1px solid #6F6F6F;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 6px 0;
}

.navigation img {
  width: 52px;
  cursor: pointer;
}