.context-menu-wrapper {
    position: relative;
    z-index: 999;

}

.context-menu {
    position: absolute;
    top: 35px;
    left: 15px;

    width: max-content;
    min-width: 160px;

    background: var(--bg-secondary);

    border: 1px solid #333333;
    z-index: 999;

    padding: 5px 0;
}

.context-menu ul:not(:first-child) {
    padding-top: 5px;
}

.context-menu ul:not(:last-child) {
    border-bottom: 1px solid #333333;
    padding-bottom: 5px;
}

.context-menu-item {
    width: 100%;
    padding: 2px 20px;
    text-align: left;
    cursor: pointer;
    font-size: 13px;
}

.context-menu-item:hover {
    background: #1E90FF;
}